<div class="modal-header">
  <h3 class="modal-title">Edit contact</h3>
</div>
<div class="modal-body">
    <div class="form-group">
      <label>First Name</label>
     <input type="text" ng-model="firstName" class="form-control" required>
      <label>Last Name</label>
     <input type="text" ng-model="lastName" class="form-control" required>
      <label>Email</label>
     <input type="text" ng-model="email" class="form-control">
      <label>Phone</label>
     <input type="text" ng-model="phone" class="form-control">
      <label>Street Address</label>
     <input type="text" ng-model="streetAddress" class="form-control">
      <label>City</label>
     <input type="text" ng-model="city" class="form-control">
      <label>State</label>
     <input type="text" ng-model="state" class="form-control">
      <label>Zip Code</label>
     <input type="text" ng-model="zip" class="form-control">
      <label>Notes</label>
      <textarea ng-model="notes" class="form-control"></textarea>
    </div>
</div>
<div class="modal-footer">
  <button ng-click="save()" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></button>
  <button ng-click="cancel()" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
</div>